:root {
    --white: #ffffff;
    --black: #000;
    --gray: #808080;
    --blue: #0000ff;
    --siteblue: #002a54;
    --darkgreen: #027202;
    --light: #f7f1f1;
}

body {
    background-color: var(--white);
}

a {
    cursor: pointer;
}

#header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60px;
}

.logo {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-self: cente;
}

.logo img {
    height: 30px;
    object-fit: cover;
    align-self: center;
}

.navbar {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    padding: 20px;

}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.navbar ul li {
    display: inline;
    float: left;
}

.navbar ul li a{
    padding: 0 18px;
    color: var(--black);
    display: block;
    font-weight: 600px;
}

.navbar ul li a:hover{
    color: var(--blue);
}

.navbar ul li a.active {
    color: var(--blue);
}

#hero {
    width: 100%;
    height: 600px;
    background-color: var(--siteblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-header h1 {
    color: #f0f8ff;
    font-size: 80px;
    font-weight: 600;
}

.app-demo img{
    height: 500px;
    object-fit: cover;
}

.app-stores {
    display: flex;
    flex-direction: column;
}

.android-store{
    width: fit-content;
}

.apple-store {
    margin-left: 10px;
}

.android-store img{
    height: 220px;
    object-fit: cover;
}

.apple-store img{
    height: 100px;
    object-fit: cover;
    margin-bottom: 100px;
}

/********* intro *********/

#intro {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.intro-icon {
    display: flex;
    align-self: center;
}

.intro-icon img{
    height: 300px;
    object-fit: cover;
}

.intro-section {
    display: flex;
    align-self: center;
}

.intro-section p {
    line-height: 40px;
    font-weight: 800;
    font-family: Inter;
}

.intro-section a {
color: var(--blue);
}

.intro-section a:hover {
    color: var(--siteblue);
}

#mission {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mission-statement h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.mission-statement-about-us p {
    line-height: 35px;
    text-align: center;
    font-weight: 500;
}

/********* store section *********/

#shop {
    height: 800px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.products {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ebooks {
    height: 250px;
    width: 250px;
    background-color:var(--light);
    border-radius: 10px;
    object-fit: cover;
}


.pepperspray {
    height: 250px;
    width: 250px;
    background-color: var(--light);
    border-radius: 10px;
    object-fit: cover;
}

.stun-devices {
    display: flex;
    height: 250px;
    width: 250px;
    background-color:var(--light);
    border-radius: 10px;
    justify-content: center;
    object-fit: cover;
    padding-bottom: 20px;
}

.stun-devices img {
    margin-top: 35px;
    display: flex;
    height: 190px;
    align-self: center;
}

.iot-devices {
    height: 250px;
    width: 250px;
    background-color: var(--light);
    border-radius: 10px;
    object-fit: cover;
}

.visit-shop {
    padding: 10px 50px;
    background-color: var(--blue);
    border-radius: 30px;
    color: var(--white);
}

.visit-shop:hover {
    padding: 10px 50px;
    background-color: var(--darkgreen);
    color: var(--white);
    transition: 1s;
}

.shop-title h3 {
    font-size: 36px;
}


/******* contact section *******/

#contact-section {
    padding-top: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.contact-section-header {
    text-align: center;
    width: 650px;
}

.contact-section-header h4{
    align-self: center;
    color: var(--black);
    font-size: 38px;
    font-weight: 550;
    padding: 100px 0 15px;
}



.contact-form {
    height: 300px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contact-name {
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 40px;
    width: 650px;
    text-align: left;
    border-radius: 5px;
    justify-content: center;
    padding-left: 8px;
    font-weight: 300;
    color: var(--black);
    border: solid 0.5px gray;
}

.contact-email {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 650px;
    text-align: left;
    border-radius: 5px;
    justify-content: center;
    padding-left: 8px;
    font-weight: 300;
    color: var(--black);
    border: solid 0.5px gray;
}

.contact-message {
    height: 120px;
    width: 650px;
    text-align: left;
    border-radius: 5px;
    padding-left: 8px;
    padding-top: 5px;
    font-weight: 300;
    color: var(--black);
    border: solid 0.5px gray;
}

.contact-send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: 650px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    color: var(--aliceblue);
    background-color: var(--siteblue);
}

.contact-send:hover {
    background-color: var(--stdblue);
    transition: 1s;
    color: var(--black);
}


#footer {
    margin-top: 200px;
    background-color: var(--gray);
    height: 200px;
}

#footer p {
    text-align: center;
    font-size: 50px;
}