<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <title>BKON</title>
</head>
<body>
    <header id="header-main">
        <div class="logo">
            <a href="{{ url_for('index') }}"><img src="/static/assets/icons/bkon_logo_blue.png" alt="BKON logo"></a>
        </div>
        <nav class="navbar">
            <ul>
                <li class="navbar-home"><a href="{{ url_for('index') }}" class="nav-link {% if request.path == '/' %}active{% endif %}">Home</a></li>
                <li class="navbar-app"><a href="{{ url_for('m_app') }}" class="nav-link {% if request.path == '/app' %}active{% endif %}">App</a></li>
                <li class="navbar-products"><a href="{{ url_for('shop') }}" class="nav-link {% if request.path == '/shop' %}active{% endif %}">Products</a></li>
                <li class="navbar-contact"><a href="#footer">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    {% block content %} {% endblock %}

    <footer id="footer">
        <div class="socials">
            <img src="" alt="Twitter icon">
            <img src="" alt="Facebook icon">
            <img src="" alt="Linkedin icon">
        </div>
        <p>
            <a href="#">Privacy Policy</a>
            <a href="#"><br>Terms and Conditions</a>
        </p>
        <p>&copy; 2024</p>
    </footer>
    <script src="/static/main.js"></script>
</body>
</html>