{% extends "base.html" %}

{% block content %} 
<div class="search-bar">
    <input type="search" name="search" id="search-input-area" placeholder="Search for products...">
    <button type="submit"><i class="fa fa-search"></i></button>
    <a href="#"><div class="cart"></div></a>
</div>
<main class="shop-body">
    <div class="ad-space"></div>

    <div class="store-navigation">

        <div class="all-categories">
            <a href="#">Categories</a>
        </div>
        <div class="categories">
            <div><a href="#">eBooks</a></div>
            <div><a href="#">Pepperspray</a></div>
            <div><a href="#">Stun-devices</a></div>
            <div><a href="#">Wearables</a></div>
        </div>
    </div>
    <div class="shelf-container">

        {% for ebook in ebooks%}
        <div id="box" class="box-1">
            <div class="image-container">
                <img src="{{ ebook.image_path }}" alt="Ebook image">
            </div>
            <div class="title-container">
                <h3>{{ ebook.title }}</h3>
            </div>
            <div class="price-container">
                <p>{{ ebook.price }}</p>
            </div>
            <a href="#"><div class="add-to-cart"><p>Add to Cart</p></div></a>
        </div>
        <div id="box" class="box-2">
            <div class="image-container">
                <img src="{{ ebook.image_path }}" alt="Ebook image">
            </div>
            <div class="title-container">
                <h3>{{ ebook.title }}</h3>
            </div>
            <div class="price-container">
                <p>{{ ebook.price }}</p>
            </div>
            <a href="#"><div class="add-to-cart"><p>Add to Cart</p></div></a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}




