<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Shop</title>
</head>
<body>
    <header id="header-main">
        <div class="logo">
            <a href="/templates/index.html"><img src="/static/assets/bkon_logo_blue.png" alt="BKON logo"></a>
        </div>
        <nav class="navbar">
            <ul>
                <li class="navbar-home"><a href="/templates/index.html">Home</a></li>
                <li class="navbar-app"><a href="/templates/app.html">App</a></li>
                <li class="navbar-products"><a href="/templates/shop.html">Products</a></li>
                <li class="navbar-contact"><a href="/templates/index.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>